aiocache==0.10.0
aiohttp==3.3.2
aiohttp-cors==0.7.0
aiohttp-jinja2==1.0.0
aiohttp-session==2.5.1
appnope==0.1.0
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
cffi==1.11.5
chardet==3.0.4
configmanager==1.34.0
configparser==3.5.0
cryptography==2.3
decorator==4.3.0
funcsigs==1.0.2
future==0.16.0
hookery==1.4.0
idna==2.7
idna-ssl==1.0.1
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
MarkupSafe==1.0
motor==1.2.2
multidict==4.3.1
parso==0.3.0
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
pymongo==3.7.1
PyYAML==4.2b4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
yarl==1.2.6
