{% extends "base.html" %}
{% from "macros.html" import paginate with context %}

{% block title %}Addresses{% endblock %}
{% block content %}
<div class="d-md-flex justify-content-between">
  <h2>Addresses <small>("rich list")</small></h2>
</div>
<ul class="nav nav-tabs mb-1">
  <li class="nav-item">
    <a class="nav-link active" href="/addresses">Addresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/addresses/aliases">Aliases</a>
  </li>
</ul>
{{paginate(pagination, "/addresses/page/", ulclass="pagination-sm", navclass="d-flex flex-row-reverse tabbed-pagination")}}
<table class="table table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Hash</th>
      <th scope="col" class="text-right hidden-sm-down">Locked Balance</th>
      <th scope="col" class="text-right hidden-sm-down">Available Balance</th>
      <th scope="col" class="text-right">Total Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for address in addresses %}
    <tr>
      <th scope="row">
        {{loop.index + ((pagination.page - 1) * pagination.per_page)}}
      </th>
      <td>
        <a href="/addresses/{{address._id}}" class="address">
          {{address._id}}
        </a>
      </th>
      <td class="text-right hidden-sm-down">{{"%0.2f" % (address.locked_value/100000000)}} <i class="nuls"></td>
      <td class="text-right hidden-sm-down">{{"%0.2f" % (address.available_value/100000000)}} <i class="nuls"></td>
      <td class="text-right">{{"%0.2f" % (address.unspent_value/100000000)}} <i class="nuls"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{paginate(pagination, "/addresses/page/",  ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endblock %}
