{% extends "base.html" %}
{% from "macros.html" import paginate with context %}

{% block title %}Addresses{% endblock %}
{% block content %}
<div class="d-md-flex justify-content-between">
  <h2>Addresses <small>("rich list")</small></h2>
  {{paginate(pagination, "/addresses/page/", ulclass="pagination-sm")}}
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Hash</th>
      <th scope="col" class="text-right">Locked Balance</th>
      <th scope="col" class="text-right">Balance (including locked)</th>
    </tr>
  </thead>
  <tbody>
    {% for address in addresses %}
    <tr>
      <th scope="row">
        {{loop.index + ((pagination.page - 1) * pagination.per_page)}}
      </th>
      <td>
        <a href="/addresses/{{address._id}}">
          {{address._id}}
        </a>
      </th>
      <td class="text-right">{{"%0.2f" % (address.locked_value/100000000)}}</td>
      <td class="text-right">{{"%0.2f" % (address.unspent_value/100000000)}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{paginate(pagination, "/addresses/page/",  ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endblock %}
