<!doctype html>
<html lang="en">
    {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
	<title>{% block title %}{% endblock %} | NULS Explorer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Open+Sans:400,400i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
  <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB">-->
  <link rel="stylesheet" href="/static/css/bootstrap4-charming.min.css">
  <link rel="stylesheet" href="/static/css/nuls.css">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="manifest" href="/static/app.webmanifest">
  <meta name="application-name" content="GlobalFleet">
  <meta name="apple-mobile-web-app-capable" content="yes">
        {%  block pagehead %}
        {% endblock %}
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 text-white">
      <img class="logo logo-dark" alt="NULS" style="margin: -1rem 1rem -1rem 0; max-height: 3rem;" src="/static/img/nuls-testnet-small.png">
      <h5 class="my-0 mr-md-6 font-weight-normal">
        <a class="p-2 text-white" href="/">
          Explorer
        </a>
      </h5>

      <nav class="my-2 mr-md-auto my-md-0">
        <a class="p-2 text-white" href="/blocks">📦 Blocks</a>
        <a class="p-2 text-white" href="/addresses">💰 Addresses</a>
        <a class="p-2 text-white" href="/consensus">📋 Consensus</a>
      </nav>

      <form class="form-inline input-group form-inline col-md-4" action="/search" method="GET">
        <input class="form-control" type="search" placeholder="Address/Block/TX..." aria-label="Search" name="q">
        <div class="input-group-append">
          <button class="btn btn-success my-0 input-group-append" type="submit" title="Search"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    {% endblock %}
    <div class="container-fluid">
      {% block content %}
      {% endblock %}

      {%  block pagefoot %}
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              Moshe Malawach
              <small class="d-block mb-3 text-muted">&copy; 2018</small>
            </div>
          </div>
        </footer>
      </div>
      {% endblock %}
    </div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
