{% extends "base.html" %}
{% from "macros.html" import paginate with context %}

{% block title %}Block Explorer{% endblock %}
{% block content %}
<div class="header">
  <div class="header-body">
    <div class="d-md-flex justify-content-between">
      <h1 class="header-title">Blocks</h1>
    </div>
  </div>
</div>
  <div class="card">
    <div class="card-header d-md-flex justify-content-between">
      <h4 class="card-header-title">Blocks {{blocks[-1].height}} to {{blocks[0].height}}</h1>
          {{paginate(pagination, "/blocks/page/", ulclass="pagination-sm", navclass="d-flex flex-row-reverse mt-1")}}
    </div>
    <table class="table table-striped table-sm table-nowrap table-card">
      <thead>
        <tr>
          <th scope="col">Height</th>
          <th scope="col">Time</th>
          <th scope="col">Transactions</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        {% for block in blocks %}
        <tr>
          <th scope="row">
            <a href="/blocks/{{block.hash}}">
              {{block.height}}
            </a>
          </th>
          <td>{{datetime.fromtimestamp(int(block.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}</td>
          <td>{{block.txCount}}</td>
          <td>{{block.size}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{{paginate(pagination, "/blocks/page/",  ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endblock %}
