{% extends "base.html" %}
{% from "macros.html" import transaction_detail with context %}
{% from "macros.html" import paginate with context %}
{% block title %}Block #{{block.height}}{% endblock %}
{% block content %}
<h2>Block detail</h2>
<h3>#{{block.height}}</h3>
<div class="row">
  <div class="col-sm">
    <table class="table table-sm table-striped">
      <tbody>
        <tr>
          <th scope="col" colspan="2">Summary</th>
        </tr>
        <tr>
          <td>Confirms</td>
          <td class="text-right">{{last_height - block.height}}</td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td class="text-right">{{block.txCount}}</td>
        </tr>
        <tr>
          <td>Transaction fee</td>
          <td class="text-right">{{block.fee/100000000}} <i class="nuls"></i></td>
        </tr>
        <tr>
          <td>Block Reward</td>
          <td class="text-right">{{block.reward/100000000}} <i class="nuls"></i>
        </tr>
        <tr>
          <td>Producer</td>
          <td class="text-right">
            <a href="/addresses/{{block.packingAddress}}">
              {{block.packingAddress}}
            </a>
          </td>
        </tr>
        <tr>
          <td>Time</td>
          <td class="text-right">{{datetime.fromtimestamp(int(block.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}</td>
        </tr>
        <tr>
          <td>Size</td>
          <td class="text-right">{{block.size}} bytes
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm">
    <table class="table table-sm table-striped">
      <tbody>
        <tr>
          <th scope="col" colspan="2">Hashes</th>
        </tr>
        <tr>
          <td>Block hash</td>
          <td class="text-right">{{block.hash}}</td>
        </tr>
        <tr>
          <td>Previous hash</td>
          <td class="text-right">
            <a href="/blocks/{{block.preHash}}">
              {{block.preHash}}
            </a>
          </td>
        </tr>
        <tr>
          <td>Merkle root</td>
          <td class="text-right">
            {{block.merkleHash}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<h4>Transactions</h4>
{% if pagination.pages > 1 %}
{{paginate(pagination, "/blocks/%s/page/" % block.hash, ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endif %}
{% for transaction in transactions %}
  {{ transaction_detail(transaction) }}
{% endfor %}
{% if pagination.pages > 1 %}
{{paginate(pagination, "/blocks/%s/page/" % block.hash, ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
{% endif %}
{% endblock %}
