{% extends "base.html" %}

{% block title %}Consensus Status{% endblock %}
{% block content %}
<h2>Agents <span class="float-right"> Block #{{consensus.height}}</span></h2>
<div class="container-fluid">
  <div class="row">
    {% for agent in consensus.agents %}
    {% if agent.status or (agent.creditVal != 0) %}
      {% if agent.creditVal < -0.5 %}
        {% set cardclass = 'danger' %}
      {% elif agent.creditVal < 0.5 %}
        {% set cardclass = 'warning' %}
      {% else %}
        {% set cardclass = 'success' %}
      {% endif %}
    {% else %}
      {% set cardclass = 'light' %}
    {% endif %}
    <div class="col-md-6 col-lg-3 col-xl-2">
      <div class="card mb-4  bg-{{cardclass}}">
        <div class="card-header">
            <span class="float-right badge {{('badge-warning', 'badge-success')[agent.status]}}">
              {{('stopped', 'running')[agent.status]}}
            </span>
            {{agent.agentId}}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{agent.agentName or ''}}<br />

          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
