{% extends "base.html" %}

{% block title %}Block Explorer{% endblock %}
{% block content %}
<a href="/blocks" class="btn btn-outline-primary btn-sm float-right" role="button">
  More ➡️
</a>
<h2>Last Blocks</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Height</th>
      <th scope="col">Time</th>
      <th scope="col">Transactions</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    {% for block in last_blocks %}
    <tr>
      <th scope="row">
        <a href="/blocks/{{block.hash}}">
          {{block.height}}
        </a>
      </th>
      <td>{{datetime.fromtimestamp(int(block.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}</td>
      <td>{{block.txCount}}</td>
      <td>{{block.size}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
