{% macro transaction_detail(transaction) -%}
<div class="card mb-3">
  <div class="card-header">
    <span class="float-right">
      {{datetime.fromtimestamp(int(transaction.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}
    </span>
    <a href="/transactions/{{transaction.hash}}">
      {{transaction.hash}}
    </a>
    <span class="badge badge-primary">{{TRANSACTION_TYPES[transaction.type]}}</span>
  </div>
  {% if (len(transaction.outputs) or len(transaction.inputs)) %}
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            {% for input in transaction.inputs %}
              <p>
                {% if input.address %}
                  <span class="float-right">{{input.value/100000000}}</span>
                  <a href="/addresses/{{input.address}}">
                    {{input.address}}
                  </a>
                  <a href="/transactions/{{input.fromHash}}#output{{input.fromIndex}}"
                     title="{{input.fromHash}}"
                     class="text-dark">
                    ⛓
                  </a>
                {% else %}
                 ❌ Error with transaction input
                {% endif %}
              </p>
            {% endfor %}
          </div>
          <div class="col-2">
            ➡️
          </div>
          <div class="col-5">
            {% for output in transaction.outputs %}
              <p>
                <span class="float-right">{{output.value/100000000}}</span>
                <a href="/addresses/{{output.address}}">
                  {{output.address}}
                </a>
                {% if ((output.lockTime == -1) or (output.lockTime > 10000)) %}
                <span class="badge badge-warning">
                  locked
                  {% if output.lockTime == -1 %}
                   consensus
                  {% elif output.lockTime > 10000 %}
                   until {{datetime.fromtimestamp(int((transaction.time+output.lockTime)/1000)).strftime('%Y-%m-%d %H:%M:%S')}}
                  {% endif %}
                </span>
                {% endif %}
                {% if output.toHash %}
                  <a href="/transactions/{{output.toHash}}">
                     <span class="badge badge-secondary">spent ⛓</span>
                   </a>
                {% endif %}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro paginate(pagination, base_url, ulclass="", navclass="") -%}
<nav aria-label="Navigation" class="{{navclass}}">
  <ul class="pagination {{ulclass}}">
    {% if pagination.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{base_url}}{{ pagination.page - 1 }}">&laquo; Previous</a>
      </li>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        <li class="page-item{% if page == pagination.page %} active{% endif %}">
          <a class="page-link" href="{{base_url}}{{ page }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">…</a>
        </li>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{base_url}}{{ pagination.page + 1 }}">Next &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
{%- endmacro %}
