{% extends "base.html" %}
{% from "macros.html" import transaction_detail with context %}
{% from "macros.html" import transaction_summary with context %}
{% from "macros.html" import paginate with context %}
{% block title %}Block #{{block.height}}{% endblock %}
{% block content %}
<h2>Node detail - {{agent and (agent.agentName or agent.agentAddress) or transaction.info.agentAddress}}
  <span class="float-right badge {{('badge-warning', 'badge-success')[agent.status]}}">
    {{('stopped', 'running')[agent.status]}}
  </span>
</h2>
<h3>{{transaction.hash}} - {{agent.agentId}}</h3>
<div class="row">
  <div class="col-sm">
    <table class="table table-sm table-striped">
      <tbody>
        <tr>
          <th scope="col" colspan="2">Summary</th>
        </tr>

        {% if agent %}
        {% if agent.status or (agent.creditVal != 0) %}
          {% if agent.creditVal < -0.5 %}
            {% set cardclass = 'bg-danger text-white' %}
            {% set progressclass = 'bg-danger' %}
          {% elif agent.creditVal < 0.5 %}
            {% set cardclass = 'bg-warning' %}
            {% set progressclass = 'bg-warning' %}
          {% else %}
            {% set cardclass = 'bg-success text-white' %}
            {% set progressclass = 'bg-success' %}
          {% endif %}
        {% else %}
          {% set cardclass = 'bg-light' %}
          {% set progressclass = 'bg-primary' %}
        {% endif %}
        <tr>
          <td>Credit Score</td>
          <td class="text-right">
            <div class="progress">
              <div class="progress-bar progress-bar-striped {{progressclass}}"
                   role="progressbar" style="width: {{ ((agent.creditVal+1)/2)*100 }}%"
                   aria-valuenow="{{ ((agent.creditVal+1)/2)*100 }}" aria-valuemin="0" aria-valuemax="100">
                {{ agent.creditVal }}
              </div>
            </div>
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>Creation time</td>
          <td class="text-right">{{datetime.fromtimestamp(int(transaction.time/1000)).strftime('%Y-%m-%d %H:%M:%S')}}</td>
        </tr>
        <tr>
          <td>Commission</td>
          <td class="text-right">{{transaction.info.commissionRate}}%</td>
        </tr>
        <tr>
          <td>Bond</td>
          <td class="text-right">{{transaction.info.deposit/100000000}} <i class="nuls"></td>
        </tr>
        {% if agent %}
        <tr>
          <td>Participants</td>
          <td class="text-right">{{agent.memberCount}}</td>
        </tr>
        <tr>
          <td>Total entrusted</td>
          <td class="text-right">{{"%0.2f" % (agent.totalDeposit/100000000)}} <i class="nuls"></i></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="col-sm">
      <table class="table table-sm table-striped">
        <tbody>
          <tr>
            <th scope="col" colspan="2">Hashes</th>
          </tr>
          <tr>
            <td>Transaction hash</td>
            <td class="text-right">{{transaction.hash}}</td>
          </tr>
          <tr>
            <td>Transaction Block hash</td>
            <td class="text-right">
              <a href="/blocks/{{block.hash}}">
                {{block.hash}}
              </a>
            </td>
          </tr>
          <tr>
            <td>Agent Address</td>
            <td class="text-right">
              <a href="/addresses/{{transaction.info.agentAddress}}">
                {{transaction.info.agentAddress}}
              </a>
            </td>
          </tr>
          <tr>
            <td>Packing Address</td>
            <td class="text-right">
              <a href="/addresses/{{transaction.info.packingAddress}}">
                {{transaction.info.packingAddress}}
              </a>
            </td>
          </tr>
          <tr>
            <td>Reward Address</td>
            <td class="text-right">
              <a href="/addresses/{{transaction.info.rewardAddress}}">
                {{transaction.info.rewardAddress}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <ul class="nav nav-tabs mb-1">
    <li class="nav-item">
      <a class="nav-link{{(mode == 'summary') and ' active' or ''}}" href="/consensus/node/{{transaction.hash}}">Funds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{{(mode == 'cards-summary') and ' active' or ''}}" href="/consensus/node/{{transaction.hash}}/cards-summary">Cards</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link{{(mode == 'stats') and ' active' or ''}}" href="/addresses/{{address}}/stats">Detail</a>
    </li>-->
  </ul>
  {% if pagination.pages > 1 %}
  {{paginate(pagination, "/consensus/node/%s/%s/page/" % (transaction.hash, mode), ulclass="pagination-sm", navclass="d-flex flex-row-reverse tabbed-pagination")}}
  {% endif %}
  {% if mode in ["summary", "full-summary", "cards-summary"] %}
  <table class="table table-responsive-md">
    <thead>
      <tr>
        <th scope="col">Tx Hash</th>
        <th scope="col">Block</th>
        <th scope="col">Date</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col"></th>
        <th scope="col">Value</th>
        <th scope="col">Fee</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        {{ transaction_summary(transaction, from_node=True) }}
      {% endfor %}
    </tbody>
  </table>
  {% elif mode == "detail" %}
    {% for transaction in transactions %}
      {{ transaction_detail(transaction) }}
    {% endfor %}
  {% endif %}
  {% if pagination.pages > 1 %}
  {{paginate(pagination, "/consensus/node/%s/%s/page/" % (transaction.hash, mode), ulclass="pagination-sm", navclass="d-flex flex-row-reverse")}}
  {% endif %}

{% endblock %}
